---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-dep
  labels:
    author: adarsh
    type: proxyserver
spec:
  replicas: 4
  selector:
    matchLabels:
      type: proxyserver
  template:
    metadata:
      name: nginx-pod
      labels:
        author: adarsh
        type: proxyserver
    spec:
      containers:
        - name: myng
          image: nginx
          ports:
            - containerPort: 80
              hostPort: 5050
